.ipynb_checkpoints/
__pycache__/
EclipsingBinary_Generate.ipynb
EclipsingBinary_Linear.ipynb
check_full_phase_curve_precision.ipynb
check_higher_time_res.ipynb
spatial_resolution_telescope_size.ipynb
*.npz
plots/*.pdf
plots/*/*.pdf
plots/*/*.png
plots/forward_model/forward_mod.tex
fit_data/traces/*/*/*.json
fit_data/posterior_stats/*.csv
fit_data/lc_BIC/*.csv
*.pyc
calculate_hd189_eclipse_depths.ipynb
check_spherical_harmonic_amplitudes.ipynb
exploratory_noteboks/*.ipynb
exploratory_noteboks/*.pdf
map_with_spitzer.ipynb
modifications_to_the_more_physical_priors_OLD/
real_data/light_curve.sav
sim_data/resids_from_mirage_sim.ecsv
html_notebook_saves/
plots/map_draws/ninimma_vs_m1/
plots/map_stats/pix_sampling/
fit_data/lc_BIC/lc_BIC_summary.txt
plots/histos/comparison_histo_from_paper_backup/
plots/map_stats/backup_from_paper_draft/
